{{bufferdAttributes.title}}
<div class="col-md-8">
  {{
    post-view
      model=model
      isEditable=isEditable
      bufferedAttributes=bufferedAttributes
      errors=errors.bufferedAttributes
      showErrors=showErrors
      onShowForm=(action "showForm")
      onHideForm=(action "hideForm")
      onUpdate=(action "updateRecord")
      onDelete=(action "deleteRecord")
  }}
</div>

<div class="col-md-4">
  <div class="row">
    {{outlet "sidebar"}}
  </div>
</div>
