<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      {{#link-to "activity" class="navbar-brand"}}Foodie{{/link-to}}
    </div>
    {{#if session.isAuthenticated}}
      <ul class="nav navbar-nav">
        <li>{{#link-to "my_blogs"}}My Blogs{{/link-to}}</li>
        <li>{{#link-to "my_recipes"}}My Recipes{{/link-to}}</li>
        <li>{{#link-to "my_reviews"}}My Reviews{{/link-to}}</li>
      </ul>
    {{/if}}

    <ul class="nav navbar-nav navbar-right">
      {{#if session.isAuthenticated}}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {{session.data.authenticated.name}} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#" {{action 'invalidateSession'}}>Logout</a>
            </li>
          </ul>
        </li>
      {{else}}
        <li>{{#link-to "login"}}Login{{/link-to}}</li>
      {{/if}}
    </ul>
  </div>
</div>
