<div class="col-md-8">

  {{
    my-post-header
      header=header
      isNewFormVisible=isNewFormVisible
      onShowForm=(action "showForm")
  }}

  {{#if isNewFormVisible}}
    {{
      post-new
        bufferedAttributes=bufferedAttributes
        showErrors=showErrors
        errors=errors
        onCreate=(action "createRecord")
        onHideForm=(action "hideForm")
    }}
  {{/if}}

  {{my-post-list sortedRecord=sortedRecord}}

</div>
