<div class="col-md-8">

  {{my-post-header header=header isNewFormVisible=isNewFormVisible onShowNewForm=(action "showNewForm")}}

  {{#if isNewFormVisible}}
    {{post-new onCreate=(action "createRecord") onHideNewForm=(action "hideNewForm")}}
  {{/if}}

  {{my-post-list sortedRecord=sortedRecord}}

</div>
