<div class="page-header">
  <h1>Edit {{model.type}}</h1>
</div>

{{
  post-form
    model=model
    bufferedAttributes=bufferedAttributes
    errors=errors
    showErrors=showErrors
    onSave=(action "updateRecord")
    onCancel=(action "cancelUpdate")
}}
